/*
	Your own styles go here
*/
body {
	padding-top: 60px;
}
.deleted, .deleted a {
	font-style: italic;
	color: #888;
}
.alert p {
	margin: 5px 0;
}
.thumbnail {
    background-size: cover;
    height: 80px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}
.thumbnail:hover {
    text-decoration: none;
}
.event {
  overflow: hidden;
}
.description {
  padding-top: 10px;
}